<!DOCTYPE html>
<html lang="en">
    <body>
        <% for (var i = 0; i=person.length; i++){ %>
            <div id = "<%=i%>">
                <%=person[i]%>
            </div>
        <% } %>
    </body>
</html>